.navbar {
    background: purple;
    padding: 20px;
    color: white;
}
.header-actions {
    display: flex;
}
.searchbar, .addbtn {
    display: block;
}
.hamberger {
    display: none;
}
.navbar nav {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar a.brand {
    margin-right: auto;
    color: white;
    text-decoration: none;
}

.navbar .header-actions a {
    color: white;
    text-decoration: none;
    margin-left: 40px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 14px;
}

.navbar .header-actions a:hover {
    color: black;
    background-color: white;
}

.mobile-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    color: red;
}

/* Navbar.css */
/* 
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: white;
  }
  
  .logo {
    font-size: 1.5em;
  }
  
  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .menu input {
    margin-right: 10px;
    padding: 5px;
  }
  
  .create-recipe button {
    background-color: green;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }
  
  .menu-icon {
    font-size: 1.5em;
    cursor: pointer;
  }
  
  .menu {
    display: none;
  }
  
  .menu.open {
    display: flex;
  } */
  
  /* Media query for mobile responsiveness */
  @media (max-width: 770px) {
    .navbar {
        width: 100%;
    }
    .navbar a.brand {
        font-size: 14px;
    }
    .navbar .header-actions a {
        color: white;
        text-decoration: none;
        margin-left: 40px;
        padding: 5px;
        border: 1px solid white;
        border-radius: 4px;
        font-size: 9px;
    }
    .searchbar {
        display: none;
    }
  }
  
